{{> head }}
{{> navbar }}
    <div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Texto de prueba</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sint nisi veniam veritatis illo officia id facere tempora, provident tenetur non in aliquam accusamus, sequi, asperiores laudantium ullam magnam natus?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/node-modules.png" alt="imagen" class="img-thumbnail">
        </div>
    </div>
    </div>

{{> footer }}